*{
  margin: 0%;
  padding: 0%;
}
nav{
  background-color: #1e90ff;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.container{
  padding:4vmax;
  box-sizing: border-box;
  background-color: rgb(203, 227, 248);
  width: 70%;
  height: 100vh;
  margin: auto;
}
.container>form{
  display: flex;
  flex-direction: column;
}
.container>h1{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
input,textarea,button{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.204);
  margin: 5px 0px;
}
button{
  border:none;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
.task{
  display: flex;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}
.task>div{
  width: 100%;
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: red;
}
.Header{
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.Header a{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.About{
  background-color:crimson;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.Contacts{
  background-color: #1e90ff;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.user{
  background-color:rgb(220, 20, 167);
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}